@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #1a171b;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 0.875em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 1.25em;
  line-height: 1.1;
  font-weight: 600;
}
